#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: -webkit-fill-available;
}

.images-scroll-container {
  width: 90%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.images-scroll-container::-webkit-scrollbar {
  display: none;
}
.images-scroll-container img {
  height: 150px;
  margin-right: 10px;
  border-radius: 5px;
}

.video-gallery {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.video-item iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
